<mat-toolbar color="primary" class="mat-elevation-z5">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    (click)="drawer.toggle()">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <span>My Fitness</span>
  <div class="flex-auto"></div>
  <button mat-icon-button routerLink="security">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard" class="flex justify-between">
        <mat-icon>dashboard</mat-icon>
        <div>Dashboard</div>
      </a>
      <a mat-list-item routerLink="/appointment">
        <mat-icon>
          <span class="material-symbols-outlined">event_available</span>
        </mat-icon>
        Appointments
      </a>
      <a mat-list-item routerLink="/profile">
        <mat-icon>person</mat-icon>
        Profile
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
