<mat-toolbar class="">
  <span>Profile</span>
</mat-toolbar>

<div class="m-3">
  <div class="flex justify-start">
    <div class="w-1/5 text-center">
      <mat-icon class="text-4xl">face</mat-icon>
    </div>
    <div>
      <div class="font-bold">DeadPool</div>
      <div class="small">My Fitness user since April 2017</div>
    </div>
  </div>


  <header class="mt-10 font-bold text-sm">Basic information</header>
  <mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon>person</mat-icon>
        <div class="text-sm ml-3" matListItemTitle>Wade Wilson</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListItemIcon>public</mat-icon>
      <div class="text-sm ml-3" matListItemTitle>http://www.Wade Wilson.myftness.com</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListItemIcon>info</mat-icon>
      <div class="text-sm ml-3" matListItemTitle>
        We had a betting pool over who would kick the bucket frst. We called it the dead pool, and because I'm a clever girl and because my name needed some kind of logic behind it, I adopted the moniker Deadpool.

      </div>
    </mat-list-item>
  </mat-list>

  <header class="mt-20 font-bold text-sm">Private information</header>
  <mat-list>
    <mat-list-item>
      <mat-icon matListItemIcon>mail</mat-icon>
      <div class="text-sm ml-3" matListItemTitle>deadpool@email.com</div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListItemIcon>phone</mat-icon>
      <div class="text-sm ml-3" matListItemTitle>+1 510 486 1234 </div>
    </mat-list-item>

    <mat-list-item>
      <mat-icon matListItemIcon>transgender</mat-icon>
      <div class="text-sm ml-3" matListItemTitle> Male </div>
    </mat-list-item>
  </mat-list>

  <div class="flex justify-between">
    <button mat-raised-button color="primary">
      <mat-icon>key</mat-icon>
      Change password
    </button>

    <button mat-raised-button>
      <mat-icon>logout</mat-icon>
      Log out
    </button>
  </div>
</div>
