<mat-toolbar class="mat-toolbar-purple">
  <button class="text-right" mat-icon-button routerLink="/profile">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span>Edit Profile</span>
</mat-toolbar>

<div class="m-3">
  <mat-form-field class="w-full lg:w-3/4 md:w-3/4" appearance="outline">
    <mat-label>User Name</mat-label>
    <input matInput placeholder="User Name" value="DeadPool">
  </mat-form-field>

  <header class="mt-5 mb-7 font-bold text-sm">Basic information</header>
  <div>
    <mat-form-field class="w-full lg:w-3/4 md:w-3/4" appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" value="Wade Wilson">
      <mat-icon matListItemIcon matSuffix>person</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class=" w-full lg:w-3/4 md:w-3/4" appearance="outline">
      <mat-label>Personal blog</mat-label>
      <input matInput placeholder="Website" value="http://www.Wade Wilson.myftness.com">
      <mat-icon matListItemIcon matSuffix>public</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-full lg:w-3/4 md:w-3/4" appearance="outline">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Name" rows="5">
        We had a betting pool over who would kick the bucket frst. We called it the dead pool, and because I'm a clever girl and because my name needed some kind of logic behind it, I adopted the moniker Deadpool.
      </textarea>
      <mat-icon matListItemIcon matSuffix>info</mat-icon>
    </mat-form-field>
  </div>

  <header class="mt-8 mb-7 font-bold text-sm">Private information</header>
  <div>
    <mat-form-field class="w-full lg:w-3/4 md:w-3/4" appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Email" value="deadpool@email.com">
      <mat-icon matListItemIcon matSuffix>mail</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-full lg:w-3/4 md:w-3/4" appearance="outline">
      <mat-label>Phone number</mat-label>
      <input matInput placeholder="Phone number" value="+1 510 486 1234">
      <mat-icon matListItemIcon matSuffix>phone</mat-icon>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field class="w-full lg:w-3/4 md:w-3/4" appearance="outline">
        <select matNativeControl>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
        </select>
      <mat-icon matListItemIcon matSuffix>transgender</mat-icon>
    </mat-form-field>
  </div>

  <div class="flex justify-between">
    <button mat-raised-button color="primary">
      <mat-icon>save</mat-icon>
      Save
    </button>
  </div>
</div>
