<mat-toolbar class="mat-toolbar-purple">
  <span>Dashboard</span>
</mat-toolbar>

<div class="m-3">
  {{ today | date }}
  <div class="flex justify-center">
    <img class="text-center" src="https://pnp.github.io/sp-dev-fx-controls-react/assets/BarChart.png">
  </div>
  <div class="text-center">Next Appointment {{ today | date }}</div>

  <mat-card class="mt-8">
    <mat-card-header>
      <mat-card-title>Workout plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>
          <span>M - Leg & lower</span>
        </mat-list-item>
        <mat-list-item>
          <span>T - Back & Tricep</span>
        </mat-list-item>
        <mat-list-item>
          <span>W - Biceps & Shoulder</span>
        </mat-list-item>
        <mat-list-item>
          <span>T - Chest & Core</span>
        </mat-list-item>
        <mat-list-item>
          <span>F - Cardio</span>
        </mat-list-item>
      </mat-list>

      <div class="mt-10">
        <div>Progress</div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-progress-bar mode="determinate" [value]="40"></mat-progress-bar>

</div>
