<mat-toolbar class="mat-toolbar-purple">
  <span>Dashboard</span>
</mat-toolbar>

<div class="m-3">
  {{ today | date }}
  <div class="flex justify-center">
    <img class="text-center" src="https://pnp.github.io/sp-dev-fx-controls-react/assets/BarChart.png">
  </div>
  <div class="text-center">Next Appointment {{ today | date }}</div>

  <mat-card class="mt-8">
    <mat-card-header>
      <mat-card-title>Workout plan</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Monday
            </mat-panel-title>
            <mat-panel-description>
              Leg & lower
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Leg extension (machine)</li>
            <li>175 lbs * 10</li>
            <li>160 lbs * 10</li>
            <li>175 lbs * 10</li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Tuesday
            </mat-panel-title>
            <mat-panel-description>
              Back & Tricep
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Tricep press</li>
            <li>175 lbs * 10</li>
            <li>160 lbs * 10</li>
            <li>175 lbs * 10</li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Wednesday
            </mat-panel-title>
            <mat-panel-description>
              Biceps & Shoulder
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Bicep extension</li>
            <li>175 lbs * 10</li>
            <li>160 lbs * 10</li>
            <li>175 lbs * 10</li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Thursday
            </mat-panel-title>
            <mat-panel-description>
              Chest & Core
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Chess press </li>
            <li>175 lbs * 10</li>
            <li>160 lbs * 10</li>
            <li>175 lbs * 10</li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Friday
            </mat-panel-title>
            <mat-panel-description>
              Shoulder
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Shoulder routine</li>
            <li>175 lbs * 10</li>
            <li>160 lbs * 10</li>
            <li>175 lbs * 10</li>
          </ul>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Saturday
            </mat-panel-title>
            <mat-panel-description>
              Leg & lower
            </mat-panel-description>
          </mat-expansion-panel-header>
          <ul>
            <li>Leg extension (machine)</li>
            <li>175 lbs * 10</li>
            <li>160 lbs * 10</li>
            <li>175 lbs * 10</li>
          </ul>
        </mat-expansion-panel>
      </mat-accordion>

      <div class="mt-10 mb-5">
        <div>Progress: Day {{ numberOfDay }} of 7</div>
      </div>
      <mat-progress-bar mode="determinate" color="accent" [value]="progress"></mat-progress-bar>
    </mat-card-content>
  </mat-card>


</div>
